#menu
{
	margin-top: 40px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.input-append
{
	float:right;
	margin-top: -15px;
	margin-bottom: -5px;
}

#content
{
	margin-top: 20px;
}

li
{
	list-style-type:none;
}