.btn
{
	margin-top: 15px;
}

.input-xlarge
{
	margin-top: 15px;
	padding-right: 50px;
}

.input-small
{
	margin-top: 15px;
	width: 126px;
}

#formday
{
	width: 67px;
}

#formmonth
{
	width: 110px;
}

#formyear
{
	width: 85px;
}

